{% block beforeContent %}
    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

    {{ govukServiceNavigation({
    serviceName: "Abortion Notification Service",
    serviceUrl:  "#",
    navigation:  navigation  
    }) }}

    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
        tag: {
        text: "Alpha"
        },
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
    }) }}
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
