{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../layouts/question-page.html" %}

{% set nextPage = "" %}
{% set backLink = "/forms" %}
{% set currentPage = "do-you-know-the-patients-hospital-or-clinic-number" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/questions/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 1 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient's details" %}

{% block form %}

    {% set knownError = null %}
    {% set numberError = null %}

    {% for e in errors %}
        {% if e.field == "patientInformation.hospitalNumber.known" %}
            {% set knownError = e %}
        {% elseif e.field == "patientInformation.hospitalNumber.number" %}
            {% set numberError = e %}
        {% endif %}
    {% endfor %}

    {% set hospitalNumberHtml %}
        {{ govukInput({
            id: "patient-hospital-number",
            name: "patientInformation.hospitalNumber.number",
            classes: "govuk-!-width-one-third",
            label: {
                text: "Enter the patient’s hospital or clinic number",
                classes: "govuk-label--m"
            },
            hint: {
                text: "The patient’s hospital or clinic number must be 10 digits long"
            },
            errorMessage: numberError and {
                text: numberError.message
            },
            value: data["patientInformation.hospitalNumber.number"]
        }) }}
    {% endset %}

    {{ govukRadios({
        name: "patientInformation.hospitalNumber.known",
        fieldset: {
            legend: {
                text: "Do you know the patient’s hospital or clinic number?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: knownError and {
            text: knownError.message
        },
        items: [
            {
                value: "yes",
                text: "Yes",
                checked: checked("patientInformation.hospitalNumber.known", "yes"),
                conditional: {
                html: hospitalNumberHtml
            }
            },
            {
                value: "no",
                text: "No",
                checked: checked("patientInformation.hospitalNumber.known", "no")
            }
        ]
    }) }}

{% endblock %}
