{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set nextPage = "" %}
{% set currentPage = "do-you-know-the-place-number" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/question/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 3 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "patientInformation.hospitalOrClinic.numberKnown" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  {{ govukRadios({
    name: "patientInformation.hospitalOrClinic.numberKnown",
    fieldset: {
      legend: {
        text: "Do you know the hospital or clinic number of the place the pregnancy was terminated?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: error and {
      text: error.message
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: checked("patientInformation.hospitalOrClinic.numberKnown", "yes")
      },
      {
        value: "no",
        text: "No",
        checked: checked("patientInformation.hospitalOrClinic.numberKnown", "no")
      }
    ]
  }) }}

{% endblock %}
