{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set nextPage = "" %}
{% set currentPage = "do-you-know-the-patients-nhs-number" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/question/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 1 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {# Extract the field-level error for this question #}
  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "patientInformation.nhsNumber.nhsNumberKnown" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="patient-nhs-number-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">
          Do you know the patient’s NHS number?
        </h2>
      </legend>

      {% if error %}
        <span id="nhs-number-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
        </span>
      {% endif %}

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="nhs-number-yes"
                 name="patientInformation.nhsNumber.nhsNumberKnown"
                 type="radio"
                 value="yes"
                 {{ checked("patientInformation.nhsNumber.nhsNumberKnown", "yes") }}>
          <label class="govuk-label govuk-radios__label" for="nhs-number-yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="nhs-number-no"
                 name="patientInformation.nhsNumber.nhsNumberKnown"
                 type="radio"
                 value="no"
                 {{ checked("patientInformation.nhsNumber.nhsNumberKnown", "no") }}>
          <label class="govuk-label govuk-radios__label" for="nhs-number-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
{% endblock %}
