{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set nextPage = "" %}
{% set currentPage = "does-the-patient-live-in-england-or-wales" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/question/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 1 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "patientInformation.livesInEnglandOrWales" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  {{ govukRadios({
    name: "patientInformation.livesInEnglandOrWales",
    fieldset: {
      legend: {
        text: "Does the patient live in England or Wales?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: error and {
      text: error.message
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: checked("patientInformation.livesInEnglandOrWales", "yes")
      },
      {
        value: "no",
        text: "No",
        checked: checked("patientInformation.livesInEnglandOrWales", "no")
      }
    ]
  }) }}

{% endblock %}
