{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set nextPage = "what-is-the-patients-postcode" %}
{% set currentPage = "enter-patient-address" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/questions/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 2 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {% set addressFields = {
    line1: "Address line 1",
    line2: "Address line 2 (optional)",
    town: "Town or city",
    county: "County (optional)",
    postcode: "Postcode"
  } %}

  {% for key, label in addressFields %}
    {% set error = null %}
    {% for e in errors %}
      {% if e.field == "patientInformation.address." + key %}
        {% set error = e %}
      {% endif %}
    {% endfor %}

    {{ govukInput({
      label: {
        text: label,
        classes: "govuk-label--m"
      },
      id: key,
      name: "patientInformation.address." + key,
      errorMessage: error and {
        text: error.message
      },
      value: data["patientInformation.address." + key] or ""
    }) }}
  {% endfor %}

{% endblock %}
