{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../layouts/question-page.html" %}

{% set currentPage = "hsa1-signing-location-postcode" %}
{% set questionGroup = "practitioner-details" %}
{% set formAction = "/questions/" + questionGroup + "/" + currentPage %}
{% set nextPage = "" %}
{% set questionNumber = 5 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Terminating practitioner and certifying practitioners' details" %}

{% block form %}
  <input type="hidden" name="currentPage" value="{{ currentPage }}">
  <input type="hidden" name="questionGroup" value="{{ questionGroup }}">

  {% set postcodeError = null %}
  {% set selectError = null %}
  {% for e in errors %}
    {% if e.field == "practitionerInfo.hsa1SigningLocation.postcode" %}
      {% set postcodeError = e %}
    {% endif %}
    {% if e.field == "practitionerInfo.hsa1SigningLocation.selectedAddress" %}
      {% set selectError = e %}
    {% endif %}
  {% endfor %}

  {{ govukInput({
    label: {
      text: "What is the postcode of the hospital or clinic where the practitioner signed the HSA1 form?",
      classes: "govuk-label--l"
    },
    hint: {
      text: "For example, SW1A 2AA"
    },
    id: "postcode",
    name: "practitionerInfo.hsa1SigningLocation.postcode",
    classes: "govuk-input--width-10",
    errorMessage: postcodeError and {
      text: postcodeError.message
    },
    value: data["practitionerInfo.hsa1SigningLocation.postcode"] or ""
  }) }}

  {{ govukRadios({
    name: "practitionerInfo.hsa1SigningLocation.selectedAddress",
    fieldset: {
      legend: {
        text: "Select an address",
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: selectError and {
      text: selectError.message
    },
    items: [
      {
        value: "1",
        text: "Prime Minister & First Lord of the Treasury, 10 Downing Street London, SW1A 2AA"
      },
      {
        value: "2",
        text: "Chancellor of the Exchequer, 11 Downing Street London, SW1A 2AB"
      },
      {
        value: "3",
        text: "Government Chief Whips Office, 12 Downing Street London, SW1A 2AD"
      }
    ]
  }) }}
{% endblock %}
