{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set nextPage = "what-is-the-patients-name" %}
{% set currentPage = "what-is-the-hospital-or-clinic-number" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/questions/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 3 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "patientInformation.hospitalOrClinic.hospitalOrClinicNumber" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  {{ govukInput({
    id: "hospital-number",
    name: "patientInformation.hospitalOrClinic.hospitalOrClinicNumber",
    label: {
      text: "What is the hospital or clinic number?",
      classes: "govuk-label--l"
    },
    hint: {
      text: "Hospital or clinic number must be 10 digits long"
    },
    classes: "govuk-input--width-10",
    inputmode: "numeric",
    pattern: "[0-9]*",
    errorMessage: error and {
      text: error.message
    },
    value: data["patientInformation.hospitalOrClinic.hospitalOrClinicNumber"] or ""
  }) }}

{% endblock %}
