{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../layouts/question-page.html" %}

{% set pageName = "Patient’s details" %}
{% set currentPage = "what-is-the-patients-name" %}
{% set questionGroup = "patient-details" %}
{% set formAction = "/question/" + questionGroup + "/" + currentPage %}
{% set nextPage = "what-is-the-patients-date-of-birth" %}
{% set questionNumber = 1 %}
{% set totalQuestions = 9 %}
{% set sectionTitle = "Patient’s details" %}

{% block form %}

  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "patientInformation.name.fullName" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  {{ govukInput({
    id: "full-name",
    name: "patientInformation.name.fullName",
    label: {
      text: "What is the patient’s name?",
      classes: "govuk-label--l"
    },
    hint: {
      text: "Enter the patient’s full name"
    },
    spellcheck: false,
    errorMessage: error and {
      text: error.message
    },
    value: data["patientInformation.name.fullName"] or ""
  }) }}

{% endblock %}
