<!doctype html>
<html lang="en" class="govuk-template no-js">

    @await Html.PartialAsync("partials/_Head")

    <body class="govuk-template__body">
        <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

        <div class="app-pane">
            <div class="app-pane__header toc-open-disabled">
                <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

                @await Html.PartialAsync("partials/_Header")
            </div>

            <div id="toc-heading" class="toc-show fixedsticky">
                <button type="button" class="toc-show__label js-toc-show" aria-controls="toc">
                    Table of contents <span class="toc-show__icon"></span>
                </button>
            </div>

            <div class="app-pane__body" data-module="in-page-navigation">
                @await Html.PartialAsync("partials/_TOC")

                <div class="app-pane__content toc-open-disabled" aria-label="Content" tabindex="0">
                    <main id="content" class="technical-documentation" data-module="anchored-headings">
                        @RenderBody()
                    </main>

                    <aside>
                    </aside>

                    @await Html.PartialAsync("partials/_Footer")

                </div>
            </div>
        </div>
    
        <script src="/assets/js/govuk_frontend.js" type="module"></script>
        <script src="/assets/js/application.js"></script>

    </body>

</html>
