 
  /* Now hook into the moj-filter __tag links */
.moj-filter__tag {
    padding-right: 12px !important;
    padding-left: 12px !important;
    margin-top: 0px !important;
}

.moj-filter__tag[href*="remove=Submitted"] {
    @extend .govuk-tag;
    @extend .govuk-tag--green;
}

.moj-filter__tag[href*="remove=Returned"] {
    @extend .govuk-tag;
    @extend .govuk-tag--red;
}

.moj-filter__tag[href*="remove=Incomplete"] {
    @extend .govuk-tag;
    @extend .govuk-tag--yellow;
}

.moj-filter__tag[href*="remove=ARCHIVED"] {
    @extend .govuk-tag;
    @extend .govuk-tag--blue;
}

:target {
    /* push the element down by half the viewport height */
    scroll-margin-top: 50vh;
}