{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../layouts/question-page.html" %}

{% set nextPage      = "" %}
{% set currentPage   = "how-was-the-abortion-funded" %}
{% set questionGroup = "termination-details" %}
{% set formAction    = "/questions/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 1 %}
{% set totalQuestions = 9 %}
{% set sectionTitle   = "Funding and method of termination" %}

{% block form %}
    {# Show any validation error for this radio field #}
    {% set error = null %}
    {% for e in errors %}
        {% if e.field == "termination.funding.source" %}
            {% set error = e %}
        {% endif %}
    {% endfor %}

    {{ govukRadios({
        name: "termination.funding.source",
        fieldset: {
            legend: {
                text: "How was the abortion funded?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: error and { text: error.message },
        items: [
            {
                value: "nhs",
                text: "NHS funded abortion",
                checked: checked("termination.funding.source", "nhs")
            },
            {
                value: "private",
                text: "Privately funded abortion",
                checked: checked("termination.funding.source", "private")
            }
        ]
    }) }}
{% endblock %}
