{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../../layouts/question-page.html" %}

{% set nextPage = "" %}
{% set currentPage = "termination-date" %}
{% set questionGroup = "surgical" %}
{% set formAction = "/questions/" + questionGroup + "/" + currentPage %}
{% set questionNumber = 4 %}
{% set totalQuestions = 8 %}
{% set sectionTitle = "Funding and method of termination" %}

{% block form %}

  {% set error = null %}
  {% for e in errors %}
    {% if e.field == "terminationInformation.surgical.terminationDate" %}
      {% set error = e %}
    {% endif %}
  {% endfor %}

  {{
    govukDateInput({
      fieldset: {
        legend: {
          text: "What date did the termination take place?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: error and {
        text: error.message
      },
      items: [
        {
          label: "Day",
          name: "terminationInformation.surgical.terminationDate.day",
          classes: "govuk-input--width-2",
          value: data["terminationInformation.surgical.terminationDate.day"] or ""
        },
        {
          label: "Month",
          name: "terminationInformation.surgical.terminationDate.month",
          classes: "govuk-input--width-2",
          value: data["terminationInformation.surgical.terminationDate.month"] or ""
        },
        {
          label: "Year",
          name: "terminationInformation.surgical.terminationDate.year",
          classes: "govuk-input--width-4",
          value: data["terminationInformation.surgical.terminationDate.year"] or ""
        }
      ]
    })
  }}

{% endblock %}
